services:
  python-server:
    build:
      context: ./python-server
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    volumes:
      - ./python-server/src:/app/src
      
  node-server:
    build:
      context: ./anythink-market-server
      dockerfile: Dockerfile
    ports:
      - 8001:8001
    volumes:
      - ./anythink-market-server/src:/usr/src/app/src
